/*font*/


@font-face {
	font-family:'OpenSans-CondensedBold';
	src: url('../fonts/OpenSans-CondensedBold_gdi.eot');
	src: url('../fonts/OpenSans-CondensedBold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-CondensedBold_gdi.woff') format('woff'),
		url('../fonts/OpenSans-CondensedBold_gdi.ttf') format('truetype'),
		url('../fonts/OpenSans-CondensedBold_gdi.svg#OpenSans-CondensedBold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: condensed;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family:'OpenSans-CondensedLight';
	src: url('../fonts/OpenSans-CondensedLight_gdi.eot');
	src: url('../fonts/OpenSans-CondensedLight_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-CondensedLight_gdi.woff') format('woff'),
		url('../fonts/OpenSans-CondensedLight_gdi.ttf') format('truetype'),
		url('../fonts/OpenSans-CondensedLight_gdi.svg#OpenSans-CondensedLight') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: condensed;
	unicode-range: U+0020-25CA;
}
/*font*/
*
{
	margin:0;
	padding:0;
}
body
{
	font-family:'OpenSans-CondensedLight';
	letter-spacing: 2px;
}
.clear
{
	clear:both;
}
.container
{
	width:1170px;
	margin:0 auto;
}
/*header*/

.header
{
	background:#011833;
	border-bottom:6px solid #1c5390;
}

.logo
{
	float:left;
	padding:15px 0;
	width:15%;
	
}
.header-links
{
	float:right;
	padding:15px 0;
	width:85%;
	color:#FFF;
}
ul.top-nav , ul.social
{
	list-style-type:none;
	float:right;
}
ul.top-nav li , ul.social li
{
	float:left;
}
ul.top-nav li a
{
	padding:8px 14px;
	color:#FFF;
	text-decoration:none;
}
.search
{
  height: 27px;
  border-radius: 6px;
  width: 215px;
  padding-left:10px;
  color:#011833;
}
.top-nav .fa
{
  margin-left: -26px;
  color: #1c5390;
  margin-top: 5px;
  cursor:pointer;
}
ul.social li
{
  background: #f9f9f9;
  width: 40px;
  height: 35px;
  text-align: center;
  margin-left:8px;
}
ul.social .fa
{
  color:#011833;
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
}
/* navigatin*/


ul.navigation {
    position: relative;
	float: right;
    margin-top: 15px;
}

ul.navigation li {
    font-weight: bold;
    float: left;
	list-style-type:none;
    border-left:4px solid #1c5390;
}

ul.navigation li a {
    display: block;
	text-decoration:none;
    padding: 4px 16px;
    color: #fff;
    text-shadow: 0 2px 1px rgba(0,0,0,0.2);
}

ul.navigation li:last-child{
    border-right:4px solid #1c5390;
}


ul.navigation li.hover a {
    color: #fff;
    font-weight:bold;
}

ul.navigation ul {
    width: 220px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    //left: 0;
}

ul.navigation ul li {
    font-weight: normal;
    background: #064EAF;
    color: #000;
    float: none;
	border:none !important;
}

ul.navigation ul ul {
    left: 100%;
    top: 0;
}

ul.navigation li:hover > ul {
    visibility: visible;
}
/*middle contact us*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
  background-size: cover;
  height:100%;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
	position: inherit;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}


/*responsive*/
@media (max-width:1366px)
{
.container
{
    width: 1300px;
}
}
@media (max-width:1280px)
{
.container
{
    width: 1200px;
}
}
@media (max-width:1024px)
{
.container
{
    width: 1002px;
}
}

